* {
    box-sizing: border-box;
}

#center-image {
    width: 200px;
    display: inline-block;
    margin: 40px;
}

#center {
    text-align: center
}

.butt {
    display: inline-block;
    vertical-align: middle;
    padding: 3px 8px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    text-align: center;
    font-weight: 500;
    color: rgb(36, 36, 36);
    font-family: monospace;
    border: 1px solid rgb(50, 50, 50);
    box-shadow: 0px 0px 5px gray;
    margin: 5px;
}

.butt:hover {
    box-shadow: none;
}